/* password-history.component.css */
.sidebar {
  background-color: #f8f9fa;
  padding: 20px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  height: 100%;
}

.sidebar h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.list-group-item {
  font-size: 14px;
  padding: 5px;
  margin: 5px 0;
}
